body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}    

header {
    background-color: rgb(41, 85, 147);
    color: azure;
    padding: 20px;
    text-align: center;
}    

button {
    padding: 10px 15px;
    background-color: rgb(143, 166, 188);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 47, 97);
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

main {
    padding: 20px;
}

.product-item {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    font-size: 14px;
    color: #555;
}

.product-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #e60000;
}

.flex-container {
    display: flex;
    padding: 30px;
    flex-wrap: wrap; /* Элементы переносятся на новую строку */
    gap: 10px; /* Расстояние между элементами */
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    background-color: #c5d1e1;
    width: 250px;
    padding: 20px;
    /* text-align: center; */
    box-sizing: border-box; /* Учитывать отступы и границы */
  }

  .flex-inline {
    padding: 3px;
    display: flex;
    gap: 10px;
    text-align: center;
  }
