body {
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif, ;
    margin: 20px;
    font-size: large;
}    

header {
    background-color: rgb(41, 85, 147);
    color: azure;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

button {
    padding: 10px 15px;
    background-color: rgb(131, 159, 185);
    color: aliceblue;
    border:#1d1e1f;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 47, 97);
}

.flex-container {
    display: flex;
    padding: 30px;
    flex-wrap: wrap; /* Элементы переносятся на новую строку */
    gap: 10px; /* Расстояние между элементами */
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    background-color: #c5d1e1;
    width: 250px;
    padding: 20px;
    /* text-align: center; */
    box-sizing: border-box; /* Учитывать отступы и границы */
  }

  .flex-inline {
    padding: 3px;
    display: flex;
    gap: 10px;
    text-align: center;
  }

  footer {
    background-color: dimgray;
    color: #f0f2f3;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
